In [1]:
dtype_dict = {'bathrooms':float, 'waterfront':int, 'sqft_above':int, 'sqft_living15':float, 'grade':int, 'yr_renovated':int, 'price':float, 'bedrooms':float, 'zipcode':int, 'long':float, 'sqft_lot15':float, 'sqft_living':float, 'floors':float, 'condition':int, 'lat':float, 'date':str, 'sqft_basement':int, 'yr_built':int, 'id':str, 'sqft_lot':int, 'view':int}

In [2]:
import pandas as pd
import numpy as np
from sklearn import linear_model
import matplotlib.pyplot as plt

In [3]:
sales = pd.read_csv('kc_house_data_small.csv', dtype= dtype_dict)
sales = pd.DataFrame(sales)
#sales.sort_values(['sqft_living', 'price'], inplace = True)
sales.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3.0,1.00,1180.0,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340.0,5650.0
1,6414100192,20141209T000000,538000.0,3.0,2.25,2570.0,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690.0,7639.0
2,5631500400,20150225T000000,180000.0,2.0,1.00,770.0,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720.0,8062.0
3,2487200875,20141209T000000,604000.0,4.0,3.00,1960.0,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360.0,5000.0
4,1954400510,20150218T000000,510000.0,3.0,2.00,1680.0,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800.0,7503.0

In [4]:
train = pd.read_csv('kc_house_data_small_train.csv', dtype= dtype_dict)
test = pd.read_csv('kc_house_data_small_test.csv', dtype= dtype_dict)
validation = pd.read_csv('kc_house_data_validation.csv', dtype= dtype_dict)
print(train.head())

           id             date     price  bedrooms  bathrooms  sqft_living  \
0  7129300520  20141013T000000  221900.0       3.0       1.00       1180.0
1  6414100192  20141209T000000  538000.0       3.0       2.25       2570.0
2  5631500400  20150225T000000  180000.0       2.0       1.00        770.0
3  2487200875  20141209T000000  604000.0       4.0       3.00       1960.0
4  1954400510  20150218T000000  510000.0       3.0       2.00       1680.0

   sqft_lot  floors  waterfront  view  ...  grade  sqft_above  sqft_basement  \
0      5650     1.0           0     0  ...      7        1180              0
1      7242     2.0           0     0  ...      7        2170            400
2     10000     1.0           0     0  ...      6         770              0
3      5000     1.0           0     0  ...      7        1050            910
4      8080     1.0           0     0  ...      8        1680              0

   yr_built  yr_renovated  zipcode      lat     long  sqft_living15  \
0      1955             0    98178  47.5112 -122.257         1340.0
1      1951          1991    98125  47.7210 -122.319         1690.0
2      1933             0    98028  47.7379 -122.233         2720.0
3      1965             0    98136  47.5208 -122.393         1360.0
4      1987             0    98074  47.6168 -122.045         1800.0

   sqft_lot15
0      5650.0
1      7639.0
2      8062.0
3      5000.0
4      7503.0

[5 rows x 21 columns]

In [5]:
def get_numpy_data(data_sframe, features, output):
    features_matrix = data_sframe[features] 
    features_matrix['constant'] = 1
    features.insert(0, 'constant')
    features_matrix = features_matrix[features]
    features_matrix = np.array(features_matrix)
    output_array = data_sframe[output]
    output_array = np.array(output_array)
    return(features_matrix, output_array)

def normalize_features(features_matrix):
    norms = np.linalg.norm(features_matrix, axis=0)
    normalized_features = features_matrix / norms
    return (normalized_features, norms)

In [6]:
features=['bedrooms','bathrooms','sqft_living','sqft_lot','floors','waterfront','view','grade','sqft_above','sqft_basement','yr_built','yr_renovated','lat','long','sqft_living15','sqft_lot15']
output=['price']
features_train,train_out=get_numpy_data(train,features,output)
print(features_train[0])
#features_test,test_out=get_numpy_data(test,features,output)
#features_valid,valid_out=get_numpy_data(validation,features,output)
features_train,norms = normalize_features(features_train)

[ 1.00000e+00  3.00000e+00  1.00000e+00  1.18000e+03  5.65000e+03
  1.00000e+00  0.00000e+00  0.00000e+00  7.00000e+00  1.18000e+03
  0.00000e+00  1.95500e+03  0.00000e+00  4.75112e+01 -1.22257e+02
  1.34000e+03  5.65000e+03]

<ipython-input-5-2142b734f239>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features_matrix['constant'] = 1

In [18]:
output
#features_test = features_test / norms
#features_valid = features_valid / norms

['price']

In [7]:
features=['bedrooms','bathrooms','sqft_living','sqft_lot','floors','waterfront','view','grade','sqft_above','sqft_basement','yr_built','yr_renovated','lat','long','sqft_living15','sqft_lot15']
output=['price']
features_test,test_out=get_numpy_data(test,features,output)
features_test = features_test / norms

<ipython-input-5-2142b734f239>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features_matrix['constant'] = 1

In [8]:
features=['bedrooms','bathrooms','sqft_living','sqft_lot','floors','waterfront','view','grade','sqft_above','sqft_basement','yr_built','yr_renovated','lat','long','sqft_living15','sqft_lot15']
output=['price']
features_valid,valid_out=get_numpy_data(validation,features,output)
features_valid = features_valid / norms

<ipython-input-5-2142b734f239>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features_matrix['constant'] = 1

In [9]:
features_test

array([[ 0.01345102,  0.01551285,  0.01807473, ..., -0.01346922,
         0.01375926,  0.0016225 ],
       [ 0.01345102,  0.01551285,  0.00602491, ..., -0.0134657 ,
         0.01035159,  0.00174419],
       [ 0.01345102,  0.01163464,  0.01054359, ..., -0.01346141,
         0.00977293,  0.00252907],
       ...,
       [ 0.01345102,  0.00775643,  0.01355605, ..., -0.01343598,
         0.00797265,  0.00030422],
       [ 0.01345102,  0.01551285,  0.02108718, ..., -0.01344908,
         0.01832425,  0.00231531],
       [ 0.01345102,  0.01163464,  0.01054359, ..., -0.01342817,
         0.00848702,  0.00458478]])

In [10]:
for i in range(0,3):
    print(features_train[i]-features_test[0])

[ 0.00000000e+00 -3.87821276e-03 -1.20498190e-02 -1.05552733e-02
  2.08673616e-04 -8.52950206e-03  0.00000000e+00 -5.10236549e-02
 -3.47633726e-03 -5.50336860e-03 -2.48168183e-02 -1.63756198e-04
  0.00000000e+00 -1.70254220e-05  1.29876855e-05 -5.14364795e-03
  6.69281453e-04]
[ 0.00000000e+00 -3.87821276e-03 -4.51868214e-03 -2.26610387e-03
  7.19763456e-04  0.00000000e+00  0.00000000e+00 -5.10236549e-02
 -3.47633726e-03  1.30705004e-03 -1.45830788e-02 -1.91048898e-04
  6.65082271e-02  4.23090220e-05  6.16364736e-06 -2.89330197e-03
  1.47606982e-03]
[ 0.00000000e+00 -7.75642553e-03 -1.20498190e-02 -1.30002801e-02
  1.60518166e-03 -8.52950206e-03  0.00000000e+00 -5.10236549e-02
 -5.21450589e-03 -8.32384500e-03 -2.48168183e-02 -3.13866046e-04
  0.00000000e+00  4.70885840e-05  1.56292487e-05  3.72914476e-03
  1.64764925e-03]

In [11]:
print(features_train[0:3] - features_test[0])

[[ 0.00000000e+00 -3.87821276e-03 -1.20498190e-02 -1.05552733e-02
   2.08673616e-04 -8.52950206e-03  0.00000000e+00 -5.10236549e-02
  -3.47633726e-03 -5.50336860e-03 -2.48168183e-02 -1.63756198e-04
   0.00000000e+00 -1.70254220e-05  1.29876855e-05 -5.14364795e-03
   6.69281453e-04]
 [ 0.00000000e+00 -3.87821276e-03 -4.51868214e-03 -2.26610387e-03
   7.19763456e-04  0.00000000e+00  0.00000000e+00 -5.10236549e-02
  -3.47633726e-03  1.30705004e-03 -1.45830788e-02 -1.91048898e-04
   6.65082271e-02  4.23090220e-05  6.16364736e-06 -2.89330197e-03
   1.47606982e-03]
 [ 0.00000000e+00 -7.75642553e-03 -1.20498190e-02 -1.30002801e-02
   1.60518166e-03 -8.52950206e-03  0.00000000e+00 -5.10236549e-02
  -5.21450589e-03 -8.32384500e-03 -2.48168183e-02 -3.13866046e-04
   0.00000000e+00  4.70885840e-05  1.56292487e-05  3.72914476e-03
   1.64764925e-03]]

In [12]:
def distance_in_quries(query1,query2):
    distance_vector=query1-query2
    dist=np.sqrt(np.sum((distance_vector)**2))
    return dist

In [13]:
distance_in_quries(features_test[0],features_train[9])

0.05921800181500964

In [14]:
dist_dict = {}
for i in range(10):
    d = distance_in_quries(features_test[0],features_train[i])
    dist_dict[i] = d
    print("disatance--",i," -- ",d)

disatance-- 0  --  0.06027470916295592
disatance-- 1  --  0.08546881147643746
disatance-- 2  --  0.06149946435279315
disatance-- 3  --  0.05283669851762774
disatance-- 4  --  0.05844484060170442
disatance-- 5  --  0.059879215098128345
disatance-- 6  --  0.0546314049677546
disatance-- 7  --  0.055431083236146074
disatance-- 8  --  0.0523836278402203
disatance-- 9  --  0.05921800181500964

In [53]:
diff = features_train[::] - features_test[0]
neighbors=[]
ids=[]
i=0
for x in diff:
    neighbors.append(np.sqrt(np.sum(x**2)))
    ids.append(i)
    i=i+1

neighbors=pd.DataFrame(neighbors,columns=['distances'])
neighbors['id']=ids
neighbors=neighbors.sort_values(['distances'])
neighbors=neighbors[:15]
neighbors

      distances    id
3758   0.003877  3758
3144   0.004555  3144
4208   0.005307  4208
5038   0.005967  5038
1659   0.006328  1659
4614   0.006974  4614
1495   0.007878  1495
1389   0.009419  1389
4039   0.009477  4039
523    0.009634   523
4893   0.009860  4893
474    0.010149   474
4460   0.010756  4460
2458   0.010910  2458
4695   0.011580  4695

In [54]:
neighbors=[]
ids=[]
i=0
features_query=features_test[0]
for x in features_train:
    neighbors.append(distance_in_quries(x,features_query))
    ids.append(i)
    i=i+1

neighbors=pd.DataFrame(neighbors,columns=['distances'])
neighbors['id']=ids
neighbors=neighbors.sort_values(['distances'])
neighbors=neighbors[:15]
neighbors

      distances    id
3758   0.003877  3758
3144   0.004555  3144
4208   0.005307  4208
5038   0.005967  5038
1659   0.006328  1659
4614   0.006974  4614
1495   0.007878  1495
1389   0.009419  1389
4039   0.009477  4039
523    0.009634   523
4893   0.009860  4893
474    0.010149   474
4460   0.010756  4460
2458   0.010910  2458
4695   0.011580  4695

In [55]:
np.sum((diff[15])**2)

0.0032920250516689053

In [48]:
train_out[4620]

array([505400.])

In [51]:
def compute_distances(features_instances, features_query):
    diff = features_instances - features_query
    distances = np.sqrt(np.sum(diff**2, axis = 1))
    return distances

In [56]:
dis_3idx = compute_distances(features_train, features_test[2])
print('The closest distance is:', min(dis_3idx))
print('The house with the closest distance is:',np.argmin(dis_3idx))

The closest distance is: 0.002113190192868194
The house with the closest distance is: 4620

In [49]:
def k_nearest_neighbors(k, feature_train, features_query):
    neighbors=[]
    ids=[]
    i=0
    for x in feature_train:
        neighbors.append(distance_in_quries(x,features_query))
        ids.append(i)
        i=i+1
    neighbors=pd.DataFrame(neighbors,columns=['distances'])
    neighbors['id']=ids
    neighbors=neighbors.sort_values(['distances'])
    neighbors=neighbors[:k]
    
    return neighbors

In [50]:
out=k_nearest_neighbors(4,features_train,features_test[2])
print(out)

      distances    id
4620   0.002113  4620
976    0.002237   976
1629   0.002270  1629
3354   0.002492  3354

In [60]:

def predict_output_of_query(k, features_train, output_train, features_query):
    neighbors = k_nearest_neighbors(k, features_train, features_query)
    prediction = np.mean(output_train[neighbors['id']])
    return prediction

In [61]:
third_house_prediction = predict_output_of_query(4, features_train,train_out, features_test[2])
print(third_house_prediction)

535850.0

In [65]:
!pip install tqdm

Requirement already satisfied: tqdm in d:\anaconda3\lib\site-packages (4.47.0)

In [66]:
from tqdm import tqdm

In [67]:
def predict_output(k, features_train, output_train, features_query):
    predictions = [0.]*features_query.shape[0]
    for i in tqdm(range(features_query.shape[0])):
        predictions[i] = predict_output_of_query(k, features_train, output_train, features_query[i])
    predictions = np.array(predictions)
    return predictions

In [68]:
predicted_value = predict_output(10, features_train,train_out,features_test)
print(np.argmin(predicted_value[:10]))

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1741/1741 [01:22<00:00, 21.13it/s]

6

In [74]:
for i in tqdm(range(0,50000000)):
    a=i+1

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 50000000/50000000 [00:18<00:00, 2674091.76it/s]

In [ ]:
2581419.77
2193084
3304028